// Place all the styles related to the Api/Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_show {
  max-width: 700px;
  padding: 70px;
  margin: 0 auto;
}

p.chunk {
  font-size: 22px;
  font-family: "freight-text-pro";
  line-height: 1.58;
  margin-bottom: 30px;
  color: #383838;
}

#article_author_header .avatar {
  width: 60px;
  display: inline-block;
}


.article_author_header_info p {
  line-height: 20px;
  letter-spacing: .02em;
  color: rgba(0,0,0,.54);
}

p.article_author_name {
  color: rgba(0,0,0,.84);
}

p.article_author_bio {
  font-weight: 300;
}

p.article_publish_date {

}

.article_author_header_info {
  display: inline-block;
  margin-left: 15px;
}

.article_author_header {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

#article_title {
  color: rgba(0,0,0,.84);
  font-size: 42px;
  margin-top: 45px;
  margin-bottom: 45px;
  font-weight: 700;
}

.article_title_editor {
  padding-top: 0;
}

.article_edit {
  position: relative;
}

.article_edit .chunk {
  position: relative;
}

.article_edit p.chunk.p:focus:not(:empty):before {
  content: "¶";
  font-family: 'europa';
  position: absolute;
  float: left;
  left: -30px;
  top: 3px;
  color: rgba(0,0,0,.10);
  font-size: 18px;
}

.chunk_container:focus-within .chunk_menu_container:before {
  content: "+";
  font-family: 'europa';
  position: absolute;
  float: left;
  left: -45px;
  top: 2px;
  border: 1px black solid;
  box-shadow: -2px 2px 4px lightgray;
  border-radius: 50%;
  padding: 0px 9px 6px 9px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

.article_edit .user_header {
  padding-top: 35px;
  margin-top: 0;
  border-top: 1px solid rgba(0,0,0,.15);
}



#article_title.article_title_editor {
  margin-bottom: 25px;
  position: relative;
}

#article_title.article_title_editor:focus:before {
  position: absolute;
  content: "Title";
  font-family: 'europa';
  position: absolute;
  float: left;
  left: -80px;
  bottom: -3px;
  font-weight: lighter;
  color: rgba(0,0,0,.30);
  font-size: 16px;
  border-right: 1px solid rgba(0,0,0,.30);
  padding: 15px;
}

.saved_status {
  font-weight: normal;
  color: rgba(0,0,0,.50);
  margin-bottom: 20px;
  letter-spacing: .05em;
  display: inline-block;
}

.article_errors {
  color: rgba(255,0,0,.80);
  margin-bottom: 20px;
  margin-left: 40px;
  letter-spacing: .05em;
  display: inline-block;
}

.chunk_container:last-child p.chunk[id="0"]:empty:after {
  color: rgba(0,0,0,.40);
  content: "Start your story...";
  position: absolute;
  display: block; /* For Firefox */
}

.article_title_editor:empty:after {
  color: rgba(0,0,0,.40);
  content: "Title";
  display: block; /* For Firefox */
}


// CHUNK MENU

.chunk_menu_container {
  position: relative;
  background-color: white;
  z-index: 2;
}

.chunk_menu {
  display: flex;
  align-items: center;
  position: absolute;
  top: -4px;
  padding: 2px;
  background-color: #ddd;
  z-index: 5;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #ddd;

}

#popover-arrow-left {
  content: "";
  position: absolute;
  left: -8px;

  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #ddd;
  border-left: 0px solid #ddd;
  background: transparent;
}

#popover-arrow-left:before {
  content: "";
  position: absolute;
  left: 2px;
  top: -6px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #ddd;
  border-left: 0px solid #ddd;
  background: transparent;
  z-index: 6
}

.chunk_menu button {
  margin: 2px;
  color: gray;
}

#image_upload_button {
  width: 35px;
  height: 30px;
  margin: 2px;
  position: relative;
  top: 1px;
}

#image_upload_button:hover {
  background-color: white;
  transition-property: all;
  transition-duration: .3s;
}


// CHUNK CONTENT TYPES

p.chunk.h1 {
  font-family: 'europa';
  font-size: 36px;
  padding-bottom: 10px;
  padding-top: 30px;
  font-weight: bold;
}

p.chunk.h2 {
  font-family: 'europa';
  font-size: 28px;
  padding-bottom: 10px;
  padding-top: 30px;
  font-weight: bold;
}


p.chunk.quote {
  font-style: italic;
  border-left: 3px solid black;
  padding-left: 20px;
  margin: 40px 0px;
  position: relative;
  left: -23px;
}


.chunk_img p {
  text-align: center;
  font-family: 'europa';
  color: gray;
  font-size: 16px;
}

.chunk_img img {
  width: 100%;
}
