// Place all the styles related to the Api/Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_show {
  max-width: 700px;
  padding: 70px;
  margin: 0 auto;
}

p.chunk {
  font-size: 22px;
  font-family: "freight-text-pro";
  line-height: 1.58;
  padding-bottom: 30px;
  color: #383838;
}

.article_author_header .avatar {
  width: 60px;
  display: inline-block;
}


.article_author_header_info p {
  line-height: 20px;
  letter-spacing: .02em;
  color: rgba(0,0,0,.54);
}

p.article_author_name {
  color: rgba(0,0,0,.84);
}

p.article_author_bio {
  font-weight: 300;
}

p.article_publish_date {

}

.article_author_header_info {
  display: inline-block;
  margin-left: 15px;
}

.article_author_header {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

#article_title {
  color: rgba(0,0,0,.84);
  font-size: 42px;
  margin-top: 45px;
  margin-bottom: 45px;
  font-weight: 700;
}

.article_title_editor {
  padding-top: 0;
}

.article_edit {
  position: relative;
}

.article_edit p.chunk:focus:before {
  content: "¶";
  font-family: 'europa';
  position: absolute;
  float: left;
  left: 40px;
  color: rgba(0,0,0,.10);
  font-size: 18px;
}

.article_edit .user_header {
  padding-top: 35px;
  margin-top: 0;
  border-top: 1px solid rgba(0,0,0,.15);
}



#article_title.article_title_editor {
  margin-bottom: 25px;
  position: relative;
}

#article_title.article_title_editor:focus:before {
  position: absolute;
  content: "Title";
  font-family: 'europa';
  position: absolute;
  float: left;
  left: -80px;
  bottom: -3px;
  font-weight: lighter;
  color: rgba(0,0,0,.30);
  font-size: 16px;
  border-right: 1px solid rgba(0,0,0,.30);
  padding: 15px;
}

.saved_status {
  font-weight: lighter;
  color: rgba(0,0,0,.30);
  margin-bottom: 20px;
  letter-spacing: .05em;
}
