// Place all the styles related to the Api/Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments_section_header {
  font-weight: bold;
  color: rgba(0,0,0,.68);
}

#comments_section {
  background-color: rgb(250,250,250);
}

.comments_feed {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-right: 60px;
  padding-top: 100px;
  padding-left: 20px;
}

.comment {
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid rgba(0,0,0,.08);
  box-shadow: 0px 0px 2px rgba(0,0,0,.08);
  border-radius: 3px;

}

.comment .user_header {
  margin-top: 0;
  margin-bottom: 15px;
}

.comment .user_name {
  color: #6a9ae8;
}

#comments_section .date {
  font-size: 15px;
  font-weight: normal;

}

#comments_section .comment_body {
  font-size: 18px;
  line-height: 1.58;
  font-family: 'freight-text-pro', serif;
  color: rgba(0,0,0,.84);
  // white-space: pre-wrap;
}

#comments_section .avatar {
  width: 36px;
  height: 36px;
}

#comments_section .comment_footer {
  margin-top: 15px;
}

#comments_section .comment_form_input {
}

#comments_section .howl_button {
  width: 36px;
  height: 36px;
}

#no_comments {
  font-size: 32px;
  color: rgba(0,0,0,.18);
  padding-top: 60px;
  padding-bottom: 60px;
}

#comment_form_input {
  min-height: 38px;
}

#comment_form_input:empty:not(:focus):after {
  color: rgba(0,0,0,.40);
  content: "Write a response...";
  font-size: 24px;
  display: block; /* For Firefox */
  left: 0px;
  position:relative;
  top: 0px;
}

#comment_form_input:empty:focus:after {
  content: "Write a response...";
  font-size: 24px;
  display: block; /* For Firefox */
  animation-duration: .3s;
  animation-name: fadeOutUp;
  animation-fill-mode: forwards;
  margin-left: 150px;
}

.comment_form_container:focus-within #comment_form_input {
  animation-name: growVertical;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.comment_form_container:not(:focus-within) #comment_form_input {
  animation-name: growVertical;
  animation-duration: .3s;
  animation-fill-mode: reverse;
  color: white;
}



.comment_footer button {
  margin: 0;
  color: rgba(0,160,100,.9);
  border: 1px solid white;
}

.comment_form_container:focus-within button:hover {
  margin: 0;
  border: 1px solid white;
  background-color: rgba(0,155,100,.3);
  color: white;
  transition-property: all;
  transition-duration: .3s;
}

.comment_form_container:focus-within button:active {
  margin: 0;
  border: 1px solid white;
  background-color: rgba(0,155,100,.9);
  color: white;
  transition-property: all;
  transition-duration: .3s;
}

#comments_section .comment_footer {
  display:flex;
  align-items: flex-start;
  flex-direction: column;
}

#comments_section .comment_header {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}

.comment_header button {
  align-self: flex-start;
  margin: 0px;
  font-size: 12px;
  padding: 5px 8px;
}

.comment_header .delete_button {
  color: rgba(255,50,50,.7);
  border: none;
}

.comment_header .delete_button:hover {
  color: white;
  border: none;
  background-color: rgba(255,50,50,.3);
  transition-property: all;
  transition-duration: .3s;
}

.comment_header .delete_button:active {
  background-color: rgba(255,50,50,.9);
  transition-property: all;
  transition-duration: .3s;
}

.comment_form_container p.user_name {
  visibility: hidden;
}

.comment_form_container button {
  visibility: hidden;
}

.comment_form_container:focus-within p.user_name {
  visibility: visible;
  color: rgba(0,0,0,.50);
  animation-name: fadeInDown;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.comment_form_container:focus-within button {
  visibility: visible;
  color: rgba(0,0,0,.50);
  animation-name: fadeInUp;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

#comments_section .comment_form_container .comment_footer {
  display: none;
}

#comments_section .comment_form_container:focus-within .comment_footer {
  display: flex;
}

#comments_section .comment_form_container:not(:focus-within) .user_header {
  float:left;
}

@keyframes fadeOutUp {
  from {
    opacity: .3;
    color: black;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -150px, 0);
  }
}

@keyframes fadeInDown {
  from { transform: translate3d(0, -200px, 0); opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInUp {
  from { transform: translate3d(0, 200px, 0); opacity: 0; }
  to { opacity: 1; }
}

@keyframes growVertical {
  from { height: 38px;}
  to { height: 120px; }
}
