// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#modal_container {
}

#modal_overlay {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,0.8); /* Black w/ opacity */
}

.modal_form {
  position: fixed;
  left: calc((100vw - 480px) / 2);
  top: calc((100vh - 430px) / 2);
  width: 400px;
  height: auto;
  z-index: 10;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px lightgray;
}

.modal_form h2 {
  font-family: "Courier New", monospace;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: bold;
}

.modal_form p {
  font-family: "europa", monospace;
  font-size: 16px;
  line-height: 20px;
  font-weight: lighter;
  text-align: center;
  margin: 0 50px;
  margin-bottom: 30px;
}

.modal_form form {
  display: flex;
  flex-direction: column;

}

.modal_form form label {
  padding: 8px 50px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "europa", Arial, sans-serif;
  font-size: 14px;
}

.modal_form button {
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 0px;
  width: 300px;
  border: 1px solid #9cc174;
  color: #9cc174

}

.modal_form form div {
  padding-right: 10px;
}
