// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  object-fit: cover;
}

.user_header_info p {
  line-height: 20px;
  letter-spacing: .02em;
  color: rgba(0,0,0,.54);
}

p.user_name {
  color: rgba(0,0,0,.84);
}

p.user_bio {
  font-weight: 400;
}

p.article_publish_date {

}

.user_header_info {
  display: inline-block;
  margin-left: 15px;
}

.user_header {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.user_header .avatar {
  width: 40px;
  height: 40px;
}

.user_articles_feed {
  max-width: 640px;
  margin: 0 auto;
}

.user_articles_feed .article_feed_item {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 1px 2px #ddd;
  margin-bottom: 20px;
  padding: 10px 20px 15px 20px;
}

.article_feed_image {
  margin-top: 30px;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.user_articles_feed a {
  text-decoration: none;
  color: inherit;
}

.user_articles_feed a:visited {
  text-decoration: none;
  color: inherit;
}

.user_articles_feed .article_feed_title {
  font-size: 30px;
  font-weight: bold;
}

.user_articles_feed .article_feed_lead_text {
  margin-top: 24px;
  margin-bottom: 10px;
  font-family: 'freight-text-pro';
  font-size: 18px;
  line-height: 1.65;
}

.user_articles_feed .user_header {
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
  z-index: 3;
}

.user_articles_feed .user_header_info {
  margin-left: 10px;
}

.user_articles_feed .user_name {
  color: #6a9ae8;
}

.user_articles_feed .avatar {
  width: 36px;
  height: 36px;
  z-index: 4;
}

.user_articles_feed .user_header:before {
  content: "";
  position: absolute;
  left: -7px;
  width: 50px;
  height: 20px;
  background-color: white;
  z-index: 1;
}

.user_articles_feed .user_header:after {
  content: "";
  position: absolute;
  left: -5px;
  width: 44px;
  height: 44px;
  border: 1px solid #6a9ae8;
  border-radius: 50%;
}

.user_articles_feed .date {
  font-size: 15px;
}

.user_articles_feed .read_more {
  font-size: 15px;
  color: rgba(0,0,0,.5);
}

.user_articles_feed .article_feed_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
  padding-bottom: 5px;
  height: 40px;
  color: rgba(0,0,0,.5);
  font-variant-numeric: oldstyle-nums;
}

.howl_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6a9ae8;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.howl_button:hover {
  box-shadow: 0px 0px 40px #000000;
  transition: all 1.5s;
}

.howl_button:active {
  background-color: #fffad8;
  box-shadow: 0px 0px 80px #000000;
  transition-property: all;
  transition-duration: 1.5s;
}

.howl_button * {
  font-family: 'freight-text-pro';
  text-align: center;
  font-variant-numeric: lining-nums;
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #a0c2f7;
}

.howl_button .liked {
  color: white;
  user-select: none;
  -moz-user-select: none;
}

.user_show_header {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 20px;
}

.user_show_header_interior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  position: relative;
}

.user_show_header .user_header_info {
  margin-left: 0;
}

.user_show_header .user_name {
  font-size: 33px;
  padding: 20px 0px;
  font-weight: bold;
  margin-left: -3px

}

.user_show_header .date {
  margin-bottom: 20px;
}

.user_show_header .user_bio {
  font-size: 21px;
  font-weight: normal;
  color: rgba(0,0,0,.70);
}

.user_show_header .avatar {
  width: 100px;
  height: 100px;
  z-index: 2;
}

.user_show_header .user_social_stats {
  margin: 10px 0px;
  font-size: 16px;
  color: rgba(0,0,0,.4);
}

.user_show_header .user_social_stats span {
  margin-right: 8px;
}


.user_show_header_interior:before {
  content: "";
  position: absolute;
  right: -20px;
  top: 21px;
  width: 140px;
  height: 60px;
  background-color: white;
  z-index: 1;
}

.user_show_header_interior:after {
  content: "";
  position: absolute;
  right: -7px;
  top: -7px;
  width: 110px;
  height: 110px;
  border: 2px solid #6a9ae8;
  border-radius: 50%;
}

.Following, .Follow {
  margin: 0px;
}

.Following, .Follow:hover {
  background-color: #5a8ad8;
  color: white;
  border: 1px solid #5a8ad8;
}

.Following:hover, .Follow:active {
  background-color: #3a7ad8;
  color: white;
  border: 1px solid #3a7ad8;
  transition: all .4s;
}

.Follow {
  border: 1px solid #3a7ad8;
  color: #3a7ad8;
}
