.user_settings {
  padding-top: 120px;
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.user_settings .avatar img {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  margin-bottom: 20px;
  object-fit: cover;
}

.user_settings .avatar form {
  display: flex;
  justify-content: center;
}

.user_settings_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user_settings_info > * {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.5)
}

.user_settings_info input {
  margin-left: 20px;
  width: 200px;
}

.user_settings_info textarea {
  margin-left: 20px;
  width: 200px;
  height: 150px;
  resize: none;
}

.user_settings .avatar {
  z-index: 3;
}
