/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
 /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

html, body {
  height: 100%
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type=submit] {
  display: inline-block;
  color: darkgray;
  padding: 8px 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  box-shadow: none;
  outline: none;
  max-width: 150px;
  cursor: pointer;
  letter-spacing: .02em;
  font-size: 14px;
  font-weight: lighter;
  background-color: white;
}

input {
  padding: 7px 15px;
  border-radius: 7px;
  border: 1px solid lightgray;
  font-size: 14px;
  font-family: "europa", Arial;
  outline: none;
}

button:hover, input[type=submit]:hover {
  border: 1px solid gray;
  color: gray;
}

body {
  font-family: "europa", sans-serif;
}

.error {
  font-size: 13px;
  color: red;
  text-align: center;
  margin: 0 50px;
}

.avatar {
  border-radius: 50%;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

#menu_overlay {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
}
