#main_header {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header_logo {
  width: 100px;
  display: inline-block;
  padding-left: auto;
}

#header_control_panel {
}

#login_button {

}

#signup_button {

}

#user_menu_button {
  border-radius: 50%
}
