#main_header {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  max-width: 1040px;
}

#header_logo {
  width: 100px;
  display: inline-block;
  margin-left: calc(50% - 50px);
}

#header_control_panel {
  position: relative;
  display: flex;
  flex-direction: row;
}

.user_menus {
  display: flex;
}

.publish_menu_container {
  margin-right: 20px;
}

#main_header button {
  padding: 5px 8px;
}

#guest_login_button {
  color: #ff4442;
  border: 1px solid #e194a2;
}

#guest_login_button:hover {
  color: #ff4442;
  border: 1px solid #ef5462;

}

#user_menu_button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  z-index: 6;
  cursor: pointer;
}

#user_menu_button:hover {
}

#user_menu {
  position: absolute;
  top: 50px;
  right: 1px;
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,.15);
  z-index: 5;
}

#user_menu a {
  color: rgba(0,0,0,.5);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 5;
  cursor: pointer;
  font-size: 14px;
}

#user_menu a:hover {
  background-color: #f9f9f9;
}

#popover-arrow {
  content: "";
  position: absolute;
  top: -8px;
  right: 10px;
  margin-left: -10px;


  width: 0;
  height: 0;
  border-top: 0px solid #ddd;
  border-bottom: 8px solid #ddd;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  background: transparent;
}

#popover-arrow:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 0px solid #fff;
  border-bottom: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  background: transparent;
  z-index: 6;
}

.user_menu_divider {
  border-top: 1px solid rgba(0,0,0,.1)
}

.publish_menu_container {
  display: inline-block;
}

.publish_menu_container button {
  border: 1px solid #edf1f7;
  color: #5a92ed;
}

.publish_menu_container button:hover {
  color: #0daa69;
  background-color: #edf1f7;
  border: 1px solid transparent;
}
